main{
    display: flex;
    flex-direction: column;
    height: 82vh;
    
}

.title{
    padding-top: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title h1{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 64px;
    color: var(--primal-color);
}


.cards{
    padding-top: 49px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 1350px;
    gap: 61px;
}

.cards li{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 200px;
    background-color: var(--primal-color);
    color: #fff;
    padding-top: 16px   ;
}

.cards span{
    width: 180px;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
}